body>section div[ui-box='comments']
{
	
}

body>section div[ui-box='comments'] div[ui='form']
{
	background-color: #F1EFE9;
	padding: 30px;
}

body>section div[ui-box='comments']>div[ui='tree'] ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

body>section div[ui-box='comments']>div[ui='tree'] ul>li>ul
{padding-left:50px}

body>section div[ui-box='comments']>div[ui='tree'] ul>li div.avatar
{
	background: no-repeat center #E1E1E1;
	background-size: 25px;
	width: 35px;
	height: 35px;
	border-radius: 50px;
}
body>section div[ui-box='comments']>div[ui='tree'] ul>li span.name
{padding-right:10px;color:#C10047}
body>section div[ui-box='comments']>div[ui='tree'] ul>li span.date
{color:#CFCFCF}
