/.idea
/data/temp
!/data/temp/.gitkeep
/static/ckeditor
/static/ckfinder
/static/fonts
/static/jquery
/static/kendo
!/static/kendo/styles/kendo.volya.min.css
/static/pdf
/static/upload
!/static/upload/.gitkeep
