/.idea
/data/temp
!/data/temp/.gitkeep
/www/static/ckeditor
/www/static/ckfinder
/www/static/fonts
/www/static/jquery
/www/static/kendo
!/www/static/kendo/styles/kendo.volya.min.css
/www/static/pdf
/www/static/upload
!/www/static/upload/.gitkeep
.DS_Store
