body>header ul[ui-menu='profile']
{display:table;float:right}

body>header ul[ui-menu='profile'] a>i:before
{float:none;margin:0}

body>header ul[ui-menu='profile']>li
{display:table-cell;text-align:center;vertical-align:middle}
body>header ul[ui-menu='profile']>li>a
{display:block;padding:31px 20px;color:#CCC}
body>header ul[ui-menu='profile']>li:hover>a
{color:#999;background-color:#EEE}
body>header ul[ui-menu='profile']>li>a>i:before
{font-size:20px}
body>header ul[ui-menu='profile']>li>a>i
{display:block}

body>header div[ui-popup='profile']
{width:160px;margin-left:-100px;margin-top:5px;z-index:1000}
body>header div[ui-popup='profile']>span.bubble
{margin-left:120px}

body>header div[ui-popup='profile'] a
{display:table;width:100%;padding:5px 0}
body>header div[ui-popup='profile'] a:hover>span
{text-decoration:underline}
body>header div[ui-popup='profile'] a>*
{display:table-cell;text-align:center;vertical-align:middle}
body>header div[ui-popup='profile'] a>*:first-child
{text-align:right}
body>header div[ui-popup='profile'] a>*:last-child
{width:28%}

body>section>div,
body>section ul.tabbar>li.selected>a
{background-color:#F0EFEA}

body>section div[ui-box='friends'] table tr
{background-color:white}
body>section div[ui-box='friends'] table tr>td
{padding:15px 0;padding-right:15px;border-top:1px solid #F0EFEA}
body>section div[ui-box='friends'] table tr:first-child>td
{border-top:none}
body>section div[ui-box='friends'] table tr>td:first-child
{padding-left:15px}