body>section div.banner
{height:400px;background:url('/img/b271220131535.jpg') no-repeat center;background-size:cover}
body>section div.banner>div.attributes
{position:absolute;margin-top:30px;padding: 30px;box-sizing:border-box;background-color:rgba(0,0,0,.65);color:white}
body>section div.banner>div.attributes div.header
{padding-bottom:25px;border-bottom:3px solid #F29200}
body>section div.banner>div.attributes div.header a
{color:white;font-weight:bold;text-decoration:underline}
body>section div.banner>div.attributes div.description
{padding:25px 0}
body>section div.banner>div.attributes input[type='button'].k-button
{background:none;border-color:white;color:white;}
body>section div.banner>div.attributes input[type='button'].k-button:hover
{background-color:white;color:black!important}
body>section div.banner>div.attributes>div
{width:450px}

body>section table.list
{width:100%;table-layout:fixed;border-spacing:0}
body>section table.list>tbody>tr>td
{vertical-align:top;padding-top:50px}
body>section table.list>tbody>tr:first-child>td
{padding:0}
body>section table.list>tbody>tr>td:nth-child(even)
{width:30px}
body>section table.list a.title
{font-weight:bold;color:#333;text-decoration:underline}
body>section table.list a.title:hover
{color:#111;text-decoration:none}
body>section table.list span.datetime
{color:#999;font-size:12px}
body>section table.list.second span.description
{color:#666}
body>section table.list>tbody>tr>td>div
{margin-top:15px}
body>section table.list>tbody>tr>td>div:first-child
{margin:0;}
body>section table.list.second>tbody>tr>td>div:first-child
{border-top:3px solid darkorange;padding-top:25px}
body>section div.preview
{background:url('/img/no_image.jpg') center no-repeat;background-size:cover;height:180px}

body>section div.b1>div
{padding:50px 0}
body>section div.b1 div.video
{padding:15px;background-color:#DBD8D1;border-radius:10px}

body>section div.b2
{background:#da6528;background:-moz-linear-gradient(left,#da6528 0%,#bd1951 100%);
background:-webkit-gradient(linear,left top,right top,color-stop(0%,#da6528),color-stop(100%,#bd1951));
background:-webkit-linear-gradient(left,#da6528 0%,#bd1951 100%);background:-o-linear-gradient(left,#da6528 0%,#bd1951 100%);
background:-ms-linear-gradient(left,#da6528 0%,#bd1951 100%);background:linear-gradient(to right,#da6528 0%,#bd1951 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da6528',endColorstr='#bd1951',GradientType=1);
font-family:Helvetica,sans-serif;color:white;margin-top:0padding:0}
body>section div.b2 div.circle
{position:relative;width:380px;height:380px;margin:-100px 0;background-color:#F29200;
border-radius:500px;text-align:center}
body>section div.b2 div.circle>span
{font-size:330px}
body>section div.b2 div.text
{position:relative;margin-left:-85px;font-size:90px;line-height:.9;text-transform:uppercase}
body>section div.b2 div.text a.v-button
{display:inherit;padding:20px 45px 17px;font-size:18px}

body>section div.b3
{background-color:#F0EFE9}
body>section div.b3>div
{padding:100px 0 30px}
body>section div.b3 table td:nth-child(even)
{width:30px}
body>section div.b3 table td a
{color:#111;border-bottom:1px solid black}
body>section div.b3 table td a:hover
{border-color:#F29200}
body>section div.b3 table td span
{color:#666}
