body>section table.list
{width:100%;table-layout:fixed;border-spacing:0}
body>section table.list>tbody>tr>td
{vertical-align:top;padding-top:50px}
body>section table.list>tbody>tr:first-child>td
{padding:0}
body>section table.list>tbody>tr>td:nth-child(even)
{width:30px}
body>section table.list a.title
{font-size:16px;color:#333;text-decoration:underline}
body>section table.list.first a.title
{font-size:18px}
body>section table.list a.title:hover
{color:#111;text-decoration:none}
body>section table.list span.datetime
{color:#999;font-size:12px}
body>section table.list.second span.description
{color:#666}
body>section table.list>tbody>tr>td>div
{margin-top:15px}
body>section table.list>tbody>tr>td>div:first-child
{margin:0;}
body>section table.list.second>tbody>tr>td>div:first-child
{border-top:3px solid darkorange;padding-top:25px}

body>section div.preview
{
	background:url('/img/no_image.jpg') center no-repeat;
	background-size:cover;
	height:180px;
}