div.breadcrumbs
{background-color:#F29200}
div.breadcrumbs>div
{padding:5px 0;color:white}
div.breadcrumbs>div a
{color:white;text-decoration:underline}
div.breadcrumbs>div a:hover
{text-decoration:none}

div.attributes>div
{padding:15px 0;background-color:#F0EEE8;color:#999}
div.attributes>div td
{padding:0 15px}
div.attributes>div td>div
{display:table;width:100%}
div.attributes>div td>div>*
{display:table-cell;vertical-align:middle}
div.attributes>div td>div>*:last-child
{padding-left:5px}
div.attributes>div td>div>i:before
{float:none;margin:0}