body>section>div
{background-color:#F0EFEA}

body>section>div.header
{background-color:#DBD8D1}
/*body>section>div.header>div
{padding:15px 0}*/

body>section div[ui='whats_new'] table
{width:100%;table-layout:fixed}
body>section div[ui='whats_new'] table td
{border-left:1px solid #DDD}
body>section div[ui='whats_new'] table td:first-child
{border:none}
body>section div[ui='whats_new'] table a
{display:block;text-align:center;color:#666}
body>section div[ui='whats_new'] table a:hover
{color:#F29200}
body>section div[ui='whats_new'] table a>*
{display:block}
body>section div[ui='whats_new'] table a>i:before
{float:none;margin:0;font-size:32px}



body>section ul.tabbar
{display:table;width:100%}
body>section ul.tabbar>li
{display:table-cell;width:1%;border-bottom:1px solid #CCC;white-space:nowrap}
body>section ul.tabbar>li:last-child
{width:auto}
body>section ul.tabbar>li.selected
{border:1px solid #ccc;border-bottom:0}
body>section ul.tabbar>li.selected>a
{background:none}

body>section table.news
{width:100%;table-layout:fixed;border-spacing:0}
body>section table.news>tbody>tr>td
{vertical-align:top;padding-top:50px}
body>section table.news>tbody>tr:first-child>td
{padding:0}
body>section table.news>tbody>tr>td:nth-child(even)
{width:30px}
body>section table.news div.preview
{background:url('/img/no_image.jpg') center no-repeat;background-size:cover;height:180px}
body>section table.news a.title
{color:#333;font-weight:bold;text-decoration:underline}
body>section table.news a.title:hover
{color:#111;text-decoration:none}
body>section table.news span.datetime
{color:#999;font-size:12px}
body>section table.news>tbody>tr>td>div
{background-color:white}
body>section table.news>tbody>tr>td>div>div
{margin-top:15px;padding:0 10px}
body>section table.news>tbody>tr>td>div>div:first-child
{margin:0;padding:0}
body>section table.news>tbody>tr>td>div>div:last-child
{padding-bottom:15px}